@mixin grid($prefix) {
	@for $i from 1 through 7 {
	    @for $j from 1 through $i {
		    $width: percentage($j / $i);

		     grid-unit[#{$prefix}take="#{$j}/#{$i}"], [grid-unit][#{$prefix}take="#{$j}/#{$i}"] {
		     	flex-basis: $width;
		     }
		}
	}

}

grid-group, [grid-group] {
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

grid, [grid] {
	display: block;
}

grid-unit, [grid-unit] {
	display: flex;	
}

// Default Layout
grid-group { @include grid(""); }

// Small Grid
@media (max-width: $small-breakpoint + "px") {
	grid-group { @include grid("sm-"); }
}

// Medium Grid
@media (min-width: $small-breakpoint + 1 + "px") and (max-width: $medium-breakpoint + "px") {
	grid-group { @include grid("md-"); }
}

